<video *ngIf="weatherApiService.weatherIcon === '01d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/clearDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '01n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/clearNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '02d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/cloudsDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '02n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/cloudsNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '03d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/dayClouds.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '03n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/cloudsNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '04d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/darkCloudsDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '04n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/cloudsNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '09d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/rainDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '09n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/rainNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '10d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/rainDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '10n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/rainNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '11d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/thunder.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '11n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/thunder.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '13d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/snowDay.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '13n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/snowNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '50d'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/mistNight.mp4" type="video/mp4">
  </video>
  <video *ngIf="weatherApiService.weatherIcon === '50n'" autoplay="true" muted="muted" loop #video>
    <source src="assets/videos/mistNight.mp4" type="video/mp4">
  </video>
